@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #f5f5f7;
    color: #333;
    padding: 20px;
}

.main {
    padding: 20px;
}

.objetivos {
    text-align: center;
}

.objetivos h1 {
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha em telas menores */
}

.botao {
    background-color: #3c2faa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px 10px 0; /* Adiciona espaço entre os botões */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #3A375E;
}

/* Estilo para dispositivos móveis */
@media screen and (max-width: 600px) {
    .botoes {
        flex-direction: column;
        align-items: center;
    }

    .botao {
        margin-right: 0;
    }
}

/* Estilo para mostrar os objetivos */
.objetivo {
    margin-top: 20px;
    display: none; /* Começam escondidos */
}

.objetivo:target {
    display: block; /* Mostra o objetivo quando clicado */
}
